body {
    padding-top: 10px;
}

@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff) format('woff');
}

body {
    font-family: Maple Mono;
    padding-top: 0;
    margin: auto;
    max-width: 70ch;
    color: #ececec;
    background-color: #16191D;

    @media screen and (max-width: 670px) {
        max-width: 90%;
    }
}

img {
    width: 100%
}

li:has(+ li) {
    padding-bottom: 0.1em;
}

a {
    color: #61AFEF;
}

p {
    img:has(+ em) {
        display: block;
        width: 100%;
        border-radius: 3px;
    }

    img + em {
        text-align: center;
        color: #cecece;
        display: block;
        padding-top: 0.4em;
        width: 100%;
    }
}

$bq-note: #409EFF;
$bq-tip: #09B43A;
$bq-important: #B87FFF;
$bq-warning: #E09B13;
$bq-caution: #FF6A69;

blockquote {
    border-left: 4px solid #7f848e;
    padding-left: 1rem;
    padding-bottom: 1px;
    padding-top: 4px;
    margin: 1rem 0;

    &::before {
        font-size: 1.05em;
    }

    &[type="note"] {
        &::before {
            content: 'Note';
            color: $bq-note;
        }
        border-left-color: $bq-note;
    }

    &[type="tip"] {
        &::before {
            content: 'Tip';
            color: $bq-tip;
        }
        border-left-color: $bq-tip;
    }

    &[type="important"] {
        &::before {
            content: 'Important';
            color: $bq-important;
        }
        border-left-color: $bq-important;
    }

    &[type="warning"] {
        &::before {
            content: 'Warning';
            color: $bq-warning;
        }
        border-left-color: $bq-warning;
    }

    &[type="caution"] {
        &::before {
            content: 'Caution';
            color: $bq-caution;
        }
        border-left-color: $bq-caution;
    }

    &:not([type]) p {
        margin: 0.5rem 0;
    }
}

nav { /* Navbar, see _includes/navbar.html */
    li {
        display: inline-block;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0 0 0 0;
    }

    ul {
        display: flex;
        padding-left: 0;
        margin-top: 0;
    }

    li:hover {
        background-color: #323842;
    }

    li.current {
        background-color: #23272E;
    }

    li a {
        text-decoration: none;
        img {
            width: auto;
            height: 1.5em;
        }
    }

    li div#underline {
        background-color: #b4b4b4;
        position:relative;
        left: -1em;
        width: calc(100% + 2em);
        height: 5%;
        bottom: calc(-0.5em + 5%);
    }
}

.hljs, .hljs-subst {
    background-color: #1F2228;
    padding: 0.5em;
    border-radius: 0.5em;
    
    display: block;
    overflow-x: auto;
}
