body {
    padding-top: 10px;
}

body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin: auto;
    max-width: 70ch;
    color: #ececec;
    background-color: #16191D;

    @media screen and (max-width: 670px) {
        max-width: 90%;
    }
}

img {
    width: 100%
}

li:has(+ li) {
    padding-bottom: 0.1em;
}

a {
    color: #61AFEF;
}

p {
    img:has(+ em) {
        display: block;
        width: 100%;
        border-radius: 3px;
    }

    img + em {
        text-align: center;
        color: #cecece;
        display: block;
        padding-top: 0.4em;
        width: 100%;
    }
}

$bq-note: #409EFF;
$bq-tip: #09B43A;
$bq-important: #B87FFF;
$bq-warning: #E09B13;
$bq-caution: #FF6A69;

blockquote {
    border-left: 4px solid #7f848e;
    padding-left: 1rem;
    padding-bottom: 1px;
    padding-top: 4px;
    margin: 1rem 0;

    &::before {
        font-size: 1.05em;
    }

    &[type="note"] {
        &::before {
            content: 'Note';
            color: $bq-note;
        }
        border-left-color: $bq-note;
    }

    &[type="tip"] {
        &::before {
            content: 'Tip';
            color: $bq-tip;
        }
        border-left-color: $bq-tip;
    }

    &[type="important"] {
        &::before {
            content: 'Important';
            color: $bq-important;
        }
        border-left-color: $bq-important;
    }

    &[type="warning"] {
        &::before {
            content: 'Warning';
            color: $bq-warning;
        }
        border-left-color: $bq-warning;
    }

    &[type="caution"] {
        &::before {
            content: 'Caution';
            color: $bq-caution;
        }
        border-left-color: $bq-caution;
    }

    &:not([type]) p {
        margin: 0.5rem 0;
    }
}

nav { /* Navbar, see _includes/navbar.html */
    li {
        display: inline-block;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0 0 0 0;
    }

    ul {
        display: flex;
    }

    li:hover {
        background-color: #323842;
    }

    li.current {
        background-color: #23272E;
    }

    li a {
        text-decoration: none;
    }

    li div#underline {
        background-color: #b4b4b4;
        position:relative;
        left: -1em;
        width: calc(100% + 2em);
        height: 5%;
        bottom: calc(-0.5em + 5%);
    }
}

pre.highlight {
    background-color: #1F2228;
    padding: 0.5em;
    border-radius: 0.5em;

    code { /* Codeblocks */
        span.c1 {
            color: #7f848e;
        }
        span.nf, span.o {
            color: #56b6c2;
        }
        span.p, span.mi {
            color: #d19a66;
        }
        span.s, span.sh, span.s2, span.dl {
            color: #98c379;
        }
        span.n {
            color: #abb2bb;
        }
        span.k, span.si, span.sa, span.kd {
            color: #c678dd;
        }
        span.nx, span.p+span.n:has(+span.p) {
            color: #e5c07b;
        }
    }
}
