@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono);

* {
    font-weight: 400;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 18px;
    line-height: 1.5;
    background-color: white;
    color: #111;
    width: 95%;
    max-width:930px;
    min-width: 400px;
    min-height: 200px;
    padding: 1em;
    margin: 5% auto;
    border: thin solid gray;
    border-radius: 5px;
    display: block;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
}

h1 a {
    color: inherit !important
}

h2 a {
    color: inherit !important
}

h3 a {
    color: inherit !important
}

h4 a {
    color: inherit !important
}

h5 a {
    color: inherit !important
}

h6 a {
    color: inherit !important
}

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

main>.post-info {
    border-top: thin solid gray;
    border-bottom: thin solid gray;
}

nav {
    background: #ccc;
}

nav>ul {
    padding: 0.3% 1% 0 1%;
}

nav>ul>li {
    display: inline;
    margin: 0 0.5%;
}

.hentry {
    border-bottom: thin solid gray;
}

pre {
    margin: 0.5em 1em 1em 4em;
    white-space: pre-wrap;
}
